@import "./sass/header";
@import "./sass/config";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  color: #fff;
  font-family: "Muli", sans-serif;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
  // scroll-behavior: smooth;
  background-color: #202124;

  main {
    margin-bottom: 100px;
    .inputs-container {
      max-width: 400px;
      margin: 100px auto 100px auto;
      border: 0.5px solid rgba(255, 255, 255, 0.329);
      padding: 10px 20px;
      border-radius: 20px;
      .title-input {
        margin-bottom: 20px;
        input {
          background-color: #202124;
          width: 100%;
          height: 50px;
          border: none;
          outline: none;
          color: #fff;
          font-weight: bold;
          font-size: 15px;
          letter-spacing: 1px;
        }
      }
      .note-input {
        textarea {
          width: 100%;
          color: #fff;
          border: none;
          outline: none;
          background-color: #202124;
          height: 100px;
          font-size: 20px;

          &::placeholder {
            font-weight: bold;
            font-size: 17px;
          }
        }
      }
      .save-btn-container {
        .save-note-btn {
          text-align: right;
          button {
            background-color: rgba(255, 255, 255, 0.021);
            padding: 10px 20px;
            border-radius: 50px;
            border: none;
            outline: none;
            color: #fff;
            font-size: 15px;
            &:hover {
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
    .notes-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      /*  display: grid;
      grid-template-columns: repeat(3, 6fr);
      grid-template-rows: 1fr auto auto 1fr; */
      width: 80vw;
      margin: 0 auto;
      gap: 10px;

      .note-element-container {
        position: relative;
        width: 350px;
        border-radius: 20px;
        transition: 0.5 ease-in-out;
        .note-element {
          position: relative;
          border-radius: 20px;
          height: 200px;

          border: 0.5px solid rgba(255, 255, 255, 0.329);
          padding: 10px 20px;
          .note-title {
            margin: 20px 10px 0px 10px;
            h4 {
              color: #fff;
            }
          }
          .note-text {
            margin: 20px 10px 40px 10px;
            word-wrap: break-word;
            white-space: pre-line;
            p {
            }
          }
          &:hover {
            transition: 0.2s;
            // -webkit-box-shadow: 5px 5px 5px 5px #000000;
            box-shadow: 0px 0px 2px 2px #ffffff2d;
          }
          &:hover + .delete-btn-container {
            opacity: 1;
            transition: 0.2s;
          }
        }
        .delete-btn-container {
          opacity: 0;
          padding: 10px;
          position: absolute;
          right: 0;
          bottom: 0;
          margin: 10px;
          i {
            display: inline;

            color: #fff;
            margin: 0 10px;
          }
          &:hover {
            opacity: 1;
            padding: 10px;

            transition: 0.2s;
          }
          .change-color {
            display: inline;
            &:hover .fa-palette {
              border-radius: 50px;
              background-color: rgba(255, 255, 255, 0.226);
            }
            &:hover .color-box {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }

            .fa-palette {
              padding: 5px;
            }
            .color-box {
              position: absolute;
              display: none;
              height: 110px;
              width: 110px;
              bottom: 35px;
              right: 50px;
              background-color: $main-color1;
              box-shadow: 0px 0px 2px 1px #ffffff2d;
              flex-wrap: wrap;
              gap: 3px;
              .color {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                background-color: blue;
                cursor: pointer;
                border: 0.5px solid rgba(255, 255, 255, 0.253);
              }
            }
          }
        }
      }
    }
  }
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #fbbd0548;
}

#lightbox {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.349);
  filter: blur(20%);
  display: none;
}
#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 0.329);
  padding: 10px 20px;
  border-radius: 20px;
  .note-element {
    position: relative;
    width: 50%;
    min-height: 400px;
    border: 0.5px solid rgba(255, 255, 255, 0.329);
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #202124;
    height: 70%;
    .title-input {
      margin: 20px 10px 40px 10px;
      input {
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 15px;
      }
    }
    .note-input {
      margin: 20px 10px 40px 10px;
      height: 50%;
      textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        height: 100%;
        color: #fff;
        font-size: 20px;
      }
    }
  }
}
